*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* body{

} */

img{
    width: 100%;
}

h1{
    text-align: center;
    padding: 0.8rem;
}

h2{
    margin: 1rem;
}

.negrita{
    font-weight: bold;
}

header{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    padding: 2em;
}

header .tituloEncabezado{
    text-align: center;
    color: white;
    font-size: 3rem;
}

.encabezado2{
    text-align: center;
    padding: 2rem;
    background-image: linear-gradient(rgba(249, 249, 252, 0.7), rgba(247, 247, 244, 0.6)), url("../assets/imagenescss/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .encabezado2 div{
    display: inline-block;
    background-color: rgb(40, 40, 40);
    padding: 0.5rem;
    border-radius: 10px;
} */

/* .encabezado2 h1{
    color: white;
} */

.encabezado2 p{
    font-size: 2rem;
    padding-bottom: 1rem;
    /* color: white; */
}

.menu{
    text-align: center;  
}

.menu .botonContainer{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}



.btn {
    background-color: rgb(68, 67, 67);
    color: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
}

.btn:hover {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    cursor: pointer;
}

.imagenPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 95%;

}

.imagenPrincipal figure{
    width: 100%;
}

.imagenPrincipal > p{
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.imagenPrincipal figure p{
    font-size: 1.1rem;
    text-align: center;
}

.imagenRelacionadas .imagenes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: start; 
}

.imagenRelacionadas .imagenes figure{
    margin: 1rem;
}

.imagenRelacionadas .imagenes figure:hover{
    scale:1.01;
    cursor: pointer;
}

.imagenRelacionadas .imagenes figure p{
    text-align: center;
}



.imagenRelacionadas .imagenes figure img{
    border-radius: 2rem;
}

footer{
    width: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    padding: 1rem;
}

footer p{
    text-align: center;
}

/*#######################################################
                            768px
#########################################################*/
@media screen and (min-width: 768px) {
    .menu .botonContainer{
        display: block;
    }

    .menu .botonContainer li{
        display: inline-block;
        margin: 0 0.5rem;
    }

    .imagenPrincipal{
        width: 85%;
    }

    .imagenRelacionadas .imagenes{
        grid-template-columns: repeat(2, 1fr);
    }

    .imagenRelacionadas .imagenes figure:hover{
        scale:1.02;
    }

    
}/*768*/

/*#######################################################
                            992px
#########################################################*/
@media screen and (min-width: 992px) {
    .encabezado2{
        background-image: linear-gradient(rgba(249, 249, 252, 0.7), rgba(247, 247, 244, 0.6)), url("../assets/imagenescss/fondo_grande.jpg");
    }

    .imagenPrincipal{
        width: 75%;
    }

    .imagenRelacionadas .imagenes{
        grid-template-columns: repeat(3, 1fr);
    }

    .imagenRelacionadas .imagenes figure:hover{
        scale:1.04;
    }
    
}/*992*/


/*#######################################################
                            1200px
#########################################################*/
@media screen and (min-width: 1200px) {
    .imagenPrincipal{
        width: 65%;
    }

    .imagenRelacionadas .imagenes{
        grid-template-columns: repeat(4, 1fr);
    }

    .imagenRelacionadas .imagenes figure:hover{
        scale:1.06;
    }
    
}/*1200*/



